<section
  class="w-full border-2 rounded-xl p-4 shadow-md bg-border group cursor-pointer hover:-translate-y-1 duration-200"
  hlmCard
  [routerLink]="['/view-post', post().id]"
>
  <!-- Header: Title and Meta -->
  <div hlmCardHeader class="flex items-start gap-4">
    <!-- Thumbnail -->
    <div class="overflow-hidden rounded-xl">
      <img
        [src]="post().image"
        alt="{{ post().title }}"
        class="h-20 w-28 shrink-0 rounded-lg object-cover group-hover:scale-150 duration-200"
      />
    </div>

    <div class="flex-1 flex flex-col gap-1">
      <h3 hlmCardTitle class="text-lg font-semibold">{{ post().title }}</h3>

      <!-- Meta: Author & Date -->
      <p
        hlmCardDescription
        class="flex items-center gap-2 text-xs text-neutral-400"
      >
        <span class="flex items-center gap-1">
          <span
            class="inline-flex h-5 w-5 items-center justify-center rounded-full bg-neutral-700 text-[10px] font-semibold text-white"
          >
            {{ post().author.name | nameInitials }}
          </span>
          {{ post().author.name }}
        </span>
        •
        <span>{{ post().date.toLocaleString() }}</span>
        •
        <span>{{ post().topic }}</span>
      </p>
    </div>
  </div>

  <!-- Content: Description -->
  <div
    hlmCardContent
    class="text-sm leading-relaxed mt-2 flex justify-between items-center relative"
  >
    <p class="w-[95%]">{{ post().content.slice(0, 200) }} ...</p>
    <div hlmCardFooter class="flex items-center gap-2 mt-2">
      <ng-icon
        class="text-sm absolute bottom-0 right-8"
        name="lucideView"
      ></ng-icon>
      <span class="absolute -bottom-0.5 right-1"
        >({{ post().comments?.length }})</span
      >
    </div>
  </div>

  <!-- Footer: Actions -->
</section>
