<form
  class="border-2 rounded-xl p-4"
  [formGroup]="postForm"
  (ngSubmit)="submitPost()"
>
  <div hlmFieldGroup>
    <fieldset hlmFieldSet>
      <legend hlmFieldLegend>New Post</legend>
      <p hlmFieldDescription>Posts can be edited and deleted by the author</p>

      <div hlmFieldGroup>
        <div class="grid grid-cols-6 gap-2">
          <div hlmField class="col-span-1">
            <label hlmFieldLabel for="field-preview-name-on-card"
              >Name of Author</label
            >
            <input
              hlmInput
              id="field-preview-name-on-card"
              formControlName="author"
              [value]="postService.user().name"
              [disabled]="true"
            />
          </div>
          <div hlmField class="col-span-1">
            <div hlmField>
              <label hlmFieldLabel for="field-exp-topic--trigger"
                >Select Topic</label
              >
              <brn-select
                id="field-exp-topic"
                class="inline-block"
                placeholder="Topic..."
                formControlName="topic"
              >
                <hlm-select-trigger class="w-full">
                  <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                  @for (topic of topics(); track topic) {

                  <hlm-option [value]="topic">
                    {{topic | titlecase}}
                  </hlm-option>
                  }
                </hlm-select-content>
              </brn-select>
            </div>
          </div>
          <div hlmField class="col-span-4">
            <label hlmFieldLabel for="field-title-of-post">Title of Post</label>
            <input
              hlmInput
              id="field-title-of-post"
              type="text"
              formControlName="title"
            />
          </div>
        </div>
      </div>
    </fieldset>
    <hlm-field-separator />

    <fieldset hlmFieldSet>
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="field-post-content">Content of post</label>
          <textarea
            hlmTextarea
            class="resize-none"
            id="field-post-content"
            formControlName="content"
          ></textarea>
        </div>
      </div>
    </fieldset>

    <div hlmField class="col-span-1">
      <label hlmFieldLabel for="field-post-image"
        >Publicly Hosted Image Url</label
      >
      <input
        hlmInput
        id="field-post-image"
        type="text"
        formControlName="image"
      />
    </div>
    <div hlmField orientation="horizontal">
      <hlm-toaster />
      <button
        class="cursor-pointer active:scale-80 duration-300"
        hlmBtn
        type="submit"
      >
        Submit
      </button>
      <hlm-toaster />
      <button
        class="cursor-pointer active:scale-80 duration-300"
        hlmBtn
        variant="outline"
        type="button"
        (click)="failedToast()"
      >
        Reset
      </button>
    </div>
  </div>
</form>
